<html>
<head>
<title>Sireesha</title>
</head>
<table border=5>
<tr>
<th> Name</th>
<th> sno</th>
<th> sub1</th>
<th> sub2</th>
</tr>
<tr>
<td> sireesha</td>
<td> 1</td>
<td> 45</td>
<td> 65</td>
</tr>
<body bgcolor=pink>
<u>
<h1>MOTHER THERESA INSTITUTE OF COMPUTER APPLICATIONS<h1/>
</u>
<img src=mother.jpg width=100px height=100px>
<h3>i am sireesha<br> i am from Rayalpet <br>pursuing in MCA <br> Mother theresa computer applications</h3><br>
<img align="right"src=sireesha.jpg  width=200px height=200px>
</table>
<u>
<h2>My friends are</h2>
</u>
<a href=prog4.html>pavani</a><br>
<a href=prog5.html>sanvika</a><br>
<a href=prog6.html>divya</a><br>
<a href=prog7.html>rekha</a><br>
<a href=prog8.html>nandhini</a><br>



</body>
</html>
